{% extends '_base.html' %}
{% block content %}
<section class="content">
    <div class="container title">
        <div>
            <h1>A PROTEÇÃO VEICULAR</h1>
        </div>
    </div>
    <div class="container text">
        <div>
            <h1>FÁCIL, RÁPIDA<br> E SEM BUROCRACIA</h1>
        </div>
    </div><br>
    <div class="container service-list">
        <div>
            <ul>
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Proteção para Carro, Moto e Caminhão. Até 100% da tabela FIPE
                </li>                
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Cobertura: Roubo, Furto, Perda Total, Colisão e Fenômenos da Natureza
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Proteção de Vidros, Faróis, Retrovisores e Para-brisas
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Cobertura Nacional
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Assistência 24 Horas
                </li>
                <li>
                    <i class="fa-solid fa-check"></i>
                    &nbsp; Proteção para Terceiros
                </li>
            </ul>
        </div>
    </div><br>
    <div class="container btn-cot">
        <div>
            <button>FAZER MINHA COTAÇÃO</button>
        </div>
    </div>

</section>
{% endblock content %}