<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #114881;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subNav" aria-controls="subNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="subNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active"href="#">DEPOIMENTOS</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active"href="#">COBERTURA</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active"href="#">SOBRE-NÓS</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active"href="#">BÔNUS</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active"href="#">DÚVIDAS</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link active"href="#">CONTATO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>