@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

#logo {
    margin-left: 12%;
}

#menu {
    font-weight: bold;
    font-size: 14px;
}

#menu li a {
    color: #114881;
}

#menu li a img:hover{background-color: #ffffff;}

#menu li a img:active{
    background-color: #ffffff;
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}

#subNav ul{
    margin-left: 100px;
    font-weight: bold;
    font-size: 13px;
}

#subNav ul li {
    padding: 10px;
}

.content{
    margin: 0;
    background-color: #0d4d78;
    padding: 20px;
}

.title{
    padding: 40px 30px 0px 0px;
    display: flex;
    font-weight: bold;
    font-style: italic;
    color: aqua;
}

.text {
    padding: 0;
}
.text h1{
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    color: #ffffff;
}

.service-list {
    margin: 0;
    padding: 0px 0px 0px 100px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #ffffff;
}

#btn-cot {
    margin: 0;
    width: 250px;
    height: 50px;
    background-color: rgb(104, 168, 7);
}

#img1{
    padding-top: 80px;
    padding-bottom: 80px;
}

.title-img1 {
    padding-top: 150px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: #019ed8;
}

.subtitle-img1 {
    text-align: center;
}

#img2 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-2 {
    background-color: #019ed8;
}

.title-content-2 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 12px;
    color: #ffffff;
}

.content-3 {
    padding: 100px;
    
}

.subtitle-content-3 {
    font-weight: bolder;
    font-style: italic;
    color: #114881;
}

.subtitle-content-3-l1 {
    color: #114881;
}

.content-4 {
    padding-top: 50px;
    background-color: #019ed8;
}

.title-content-4 {
    padding-top: 110px;
    color: #ffffff;
    font-weight: bolder;
    font-style: italic;
}

.text-content-4 {
    color: #ffffff;
}

.content-5 {
    padding-top: 80px;
}

.title-content-5 {
    font-weight: bolder;
    font-style: italic;
    color: #ffffff;
}